body{
	width: 400px;
	margin: auto;
	text-align: center;
}

dt{
	background-color: #E3E3E3;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.5em;
	border-bottom: 1px solid #C5C5C5;
	border-top: 1px solid #fff;
}

dd{
	margin: 0;
	padding: 1em 0 1em 0;
}

.hide{
	display: none;
}